<% @page_title = current_site.title %>
<% content_for :app_header do %>
		<meta name="description" content="<%= current_site.short_desc %>"/>
		<% if false %>
		<meta property="og:title" content="<%= current_site.title %>"/>
	    <meta property="og:type" content="article"/>
	    <meta property="og:url" content="<%# map_url(@map) %>"/>
	    <meta property="og:image" content="<%# root_url + @map.thumbnail_from_root %>"/>
	    <meta property="og:site_name" content="Old Maps of Paris"/>
	    <meta property="fb:admins" content="884285441"/>
	    <meta property="og:description"
	          content="<%# @map.description %>"/>
	    <meta itemprop="name" content="<%# @map.title %>">
		<meta itemprop="description" content="<%# @map.description %>">
		<meta itemprop="image" content="<%# root_url + @map.thumbnail_from_root %>">
		<% end %>
		<link rel="canonical" href="<%= current_site.full_domain %>">
<% end -%>
<div id="homepage">
	<div class="container">
		<div class="sixteen columns">
			<h1><%= image_tag current_site.logo.url(:large), :alt => current_site.title  if current_site.logo.file? %></h1>
			
			
		</div>
		<div class="row offset-by-two">
			<div class="twelve columns">
				<p>
				<%= current_site.long_desc %>
				</p>
			</div>
		</div>
		
		<div class="row">
			<div class="sixteen columns">
				<h2>Featured Maps</h2>
				<hr>
			</div>
			<% @featured_maps.each do |map| %>
			<div class="one-third column">
				<div class="featured-map">
					<a href="<%= map_path(map) %>">
						<h3><%= map.title %></h3>
						<%= image_tag map.map.url(:featured), :class => "scale-with-grid"%>
						
					</a>
				</div>
			</div>
			<% end %>
			<div class="sixteen columns">
				<h2>The Maps</h2>
				<hr>
			</div>
			<% @maps.each do |map| %>
					<div class="two columns">
						<div class="map-link">
							<a href="<%= map_path(map) %>">
								<%= image_tag map.map.url(:thumb), :class => "scale-with-grid"%>
								Year: <%= map.year %>
							</a>
						</div>	
					</div>
			<% end %>
		</div>
	</div>
	
</div>
<% content_for :app_footer do %>

		<div id="cc-pd" class="nm">
			<p xmlns:dct="http://purl.org/dc/terms/">
				<a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/"><img src="/images/cc-pd.gif" alt="Public Domain Mark" /></a>
				This maps on this site, identified by <a href="<%= current_site.full_domain %>" rel="dct:publisher"><span property="dct:title"><%= current_site.title %></span></a>, are free of known copyright restrictions.
			</p>
		</div>

<% end %>