body, html {padding:0px;margin:0px;height:100%; }
body { background: transparent url(../images/bg.jpg); }
#wrapper {}
#header { height:75px; background: transparent url(../images/header_s1.jpg) repeat-x;}
#sub_header { height:43px; padding:5px; background: transparent url(../images/sub_header_s1.jpg) repeat-x;}
#sub_header .controls { margin:0px auto; width: 1000px; height:43px; background: transparent url(../images/cc_s1.jpg) no-repeat right center; }
#map_wrapper { margin:20px auto 0; width:900px; padding:50px; background-color:#131313; }
#map { height:600px; width:900px; overflow:hidden; }