<h1>Reset Password</h1>
<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<% form_tag reset_passwords_path do %>
	<ol class="form">
		<li class="label"><%= label_tag :email, "Email Address" %></li>
		<li class="field"><%= text_field_tag :email, nil, :class => "big-text" %></li>
	
		<li class="submit">
			<button type="submit" class="nudge">
				<img src="/images/icons/lock-unlock.png" alt="Authentication"> Reset
			</button>
			<%= link_to "Return to Log In screen", :login %>
		</li>
	</ol>	

<% end %>
