<!DOCTYPE HTML>
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @page_title %></title>

	<%= yield :app_header %>
</head>
<body>
<%= yield %>
</body>
</html>