<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html id="auth">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><%= @page_title %></title>
		<%= stylesheet_link_tag "admin/admin" %>
		<%= javascript_include_tag "application" %>
	</head>
	<body id="auth">
		<div id="header" class="content">
			<div id="header_logo">
				[Logo]
			</div>
		</div>
		<div class="authentication section">
			<%= yield %>
		</div>
	</body>
</html>